@import 'colors'
@require 'toast'

input
  background: transparent

.input-project
  outline: 0
  border: 0
  border-bottom: 1px solid tm-grey
  width: 66%
  font-size: 1.6rem
  flex: 1
  margin-right: 1rem

.inline
  outline: 0
  border: 0
  border-bottom: 1px solid tm-grey
  width: 2rem
  text-align: center

.btn
  outline: 0
  border: 0
  background: none
  border-radius: 3px
  font-size: 1.6rem
  padding: 0.2rem 0.7rem
  background-color: tm-smoke
  cursor: pointer

  & + .btn
    margin-left: 0.5rem

  &:active
    background-color: tm-dark-smoke

  &.image
    width: 2.1rem
    height: 2.1rem
    background-color: black
    mask-repeat: no-repeat
    mask-position: center
    mask-size: cover

    &.white
      background-color: white

    &.save
      mask-image: inline('../images/save.svg')

    &.cancel
      mask-image: inline('../images/cancel.svg')

    &.play
      mask-image: inline('../images/play.svg')

    &.pause
      mask-image: inline('../images/pause.svg')
      mask-size: 1.8rem 1.8rem

    &.add
      mask-image: inline('../images/add.svg')
      mask-size: 1.8rem 1.8rem
