// == BASE ==
@require 'forms'
@require 'grids'
@require 'colors'

*
  box-sizing: border-box

html
  font-family: helvetica, arial, sans-serif
  font-size: 62.5%
  margin: 0

body
  width: 100%
  font-size: 1.4rem
  margin: 0

.container
  border: 2px solid tm-background

// == COMPONENT ==
@require 'menu'
@require 'projects'
