@require 'colors'

.project
  font-size: 1rem
  display: flex
  align-items: center

  &:nth-child(odd)
    background-color: project-odd-bg

  &:nth-child(even)
    background-color: project-even-bg

  .editable
    display: flex
    align-items: center

  .elapsed, .running
    margin-right: 0.5rem

  .name
    flex: 1
