@require 'colors'

.toast
  position: absolute
  margin: 0 auto
  top: 1rem
  left: 0
  right: 0
  width: 25%
  background-color: tm-grey
  color: white
  border-radius: 100px
  padding: 0.3rem 0.7rem
  box-shadow: 0 0 10px 1px #333

.toasterAnimation-enter-active
  animation: fadeInUp 1s

.toasterAnimation-leave-active
  animation: fadeOutDown 1s